# Normalize all text files to LF in the repository
* text=auto eol=lf

# JavaScript / TypeScript
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Markdown
*.md text eol=lf

*.pdf binary
*.zip binary
